In [7]:
n = 5  # Number of rows

# Loop through rows from 1 to n
for i in range(1, n + 1):
    print("* " * i)  # Print '*' i times with a space

#On each line, the number of * characters increases.
#The first row has 1 *, the second has 2, and so on until n

*
* *
* * *
* * * *
* * * * *

In [5]:
n = 5  # Number of rows

# Loop through rows from n to 1
for i in range(n, 0, -1):
    print("* " * i)  # Print '*' i times with a space

#This is the reverse of the lower triangle.
#The first row starts with n *, and decreases by 1 each row.

* * * * *
* * * *
* * *
* *
*

In [6]:
n = 5
for i in range(1, n + 1):
    print(" " * (n - i) + "* " * i)

#" " * (n - i) adds leading spaces to center the stars.

#"* " * i prints the stars with spaces.

#As i increases, stars grow and spaces shrink, forming a centered pyramid.

    *
   * *
  * * *
 * * * *
* * * * *